* {
  font-family: "Poppins", sans-serif;
}

/* Index */

/* Accordion */

.accordion__container {
  width: 60vw;
  margin: 2em auto 0;
}

/* Carousel */

.carousel__container {
  width: 50svw;
  margin: 30px auto 0;
}

.quote__container {
  width: 50svw;
  margin: 30px auto 0;
}

.footer__container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  color: #f7f7f7;
  width: 100%;
}

.carousel-item img {
  filter: brightness(70%);
}

/* Destinos */

/* Flex container destinos */

.destinos__flex-container {
  margin: 5px auto 0;
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 800px;
  height: 800px;
  overflow: hidden;
  flex-flow: wrap;
}

.destinos__img-container {
  position: relative;
  padding: 5px;
  width: 50%;
  transition: transform 0.3s ease;
}

.destinos__img-uno:hover {
  transform: translate(-10px, -10px);
}

.destinos__img-dos:hover {
  transform: translate(10px, -10px);
}

.destinos__img-tres:hover {
  transform: translate(-10px, 10px);
}

.destinos__img-cuatro:hover {
  transform: translate(10px, 10px);
}

.destinos__img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.destinos__img-container img:hover {
  filter: brightness(90%);
}

.destinos__img-container span {
  color: #f7f7f7;
  position: absolute;
  bottom: 20%;
  left: 40%;
  z-index: 2;
  font-size: larger;
  pointer-events: none;
}

/* Grid para el aside */

.destinos__grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "aside gallery";
}

.destinos__aside {
  grid-area: aside;
  display: flex;
  text-align: justify;
  align-items: center;
  position: relative;
}

.destinos__aside p {
  position: absolute;
  left: 50px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  color: #212529;
}

.destinos__gallery {
  grid-area: gallery;
  margin-left: 50px;
}


/* Reserva */

.form-container {
  width: 80%;
  padding: 20px;
}

.foto-reserva-grid img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  height: 100vh;
}

.faq-page-container {
  height: 100vh;
  width: 100%;
  background-image: url(../assets/booking-fondo.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  background-color: #f7f7f7ab;
  border-radius: 24px;
  width: 500px;
  height: 600px;
  margin: 90px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FAQ */

.faq-questions {
  width: 60vw;
  margin: 20px auto 0;
}

.btn-faq {
  margin: 0 auto;
}

.btn-faq-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Alojamiento */

.card-alojamiento {
  border-radius: 16px;
  transition: transform 0.3s ease;
  padding: 10px;
}

.card-alojamiento:hover {
  transform: translate(-10px);
}

.img-alojamiento-container {
  width: 250px;
  height: 250px;
  display: flex;
  overflow: hidden;
}

.img-alojamiento-container img {
  filter: brightness(70%);
}

.card-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    " aside card-uno card-dos "
    " aside card-tres card-cuatro "
    " aside card-cinco card-seis ";
  gap: 7px;
  margin-top: 20px;
}
.card-grid-container a {
  text-decoration: none;
  color: #212529;
}

.card-grid-container a:hover img {
  filter: brightness(100%);
}

.card-uno {
  grid-area: card-uno;
}

.card-dos {
  grid-area: card-dos;
}

.card-tres {
  grid-area: card-tres;
}

.card-cuatro {
  grid-area: card-cuatro;
}
.aside-alojamiento {
  grid-area: aside;
  border-radius: 12px;
  padding: 10px;
  margin: auto 0;
  height: 90vh;
  width: 30vw;
  background-image: url(../assets/aside-alojamiento.jpg);
  color: #212529;
}

.text-aside-container {
  border-radius: 6px;
  margin-top: 40%;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "head"
    "body";
  background-color: #f7f7f7ab;
  color: #212529;
}

.aside-alojamiento h5 {
  text-align: center;
  grid-area: head;
  padding: 5px;
  /* margin-top: 20%; */
}

.aside-alojamiento p {
  grid-area: body;
  padding: 5px;
}

/* Card uno*/
.card-title-grid-uno {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "img head";
}

.img-card-uno {
  grid-area: img;
}

.header-card-uno {
  grid-area: head;
}
/* Card dos*/

.card-title-grid-dos {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "img head";
}

.img-card-dos {
  grid-area: img;
}

.header-card-dos {
  grid-area: head;
}

/* Card tres*/

.card-title-grid-tres {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "img head";
}

.img-card-tres {
  grid-area: img;
}

.header-card-tres {
  grid-area: head;
}

/* Card cuatro*/

.card-title-grid-cuatro {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "img head";
}

.img-card-cuatro {
  grid-area: img;
}

.header-card-cuatro {
  grid-area: head;
}

/* Card cinco*/

.card-title-grid-cinco {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "img head";
}

.img-card-cinco {
  grid-area: img;
}

.header-card-cinco {
  grid-area: head;
}

/* Card seis */

.card-title-grid-seis {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "img head";
}

.img-card-seis {
  grid-area: img;
}

.header-card-seis {
  grid-area: head;
}

.card-text {
  padding: 10px;
}

/* Actividades */

.actividades__grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "card-uno card-dos card-tres card-cuatro";
  column-gap: 21px;
  width: 80vw;
}

.actividades__flex-container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.actividades__card__uno {
  grid-area: card-uno;
  background-image: url(../assets/paracaidismo.jpg);
  background-size: cover;
}

.actividades__card__dos {
  grid-area: card-dos;
  background-image: url(../assets/surf.jpg);
  background-size: cover;
}

.actividades__card__tres {
  grid-area: card-tres;
  background-image: url(../assets/buceo.jpg);
  background-size: cover;
}

.actividades__card__cuatro {
  grid-area: card-cuatro;
  background-image: url(../assets/escalada.jpg);
  background-size: cover;
}

.actividades__card {
  height: 80vh;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: transform 0.3s ease;
}

.actividades__grid-container a:hover .actividades__card {
  transform: translate(0px, -10px);
}

.actividades__btn {
  margin-bottom: 20px;
}
.actividades__btn button {
  color: #f7f7f7;
}


/* Media queries */
/* Small devices */
@media (max-width: 576px) {
  /* Alojamiento */

  .card-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
      " aside "
      " card-uno "
      " card-dos "
      " card-tres "
      " card-cuatro "
      " card-cinco "
      " card-seis ";
    gap: 10px;
    margin-top: 20px;
  }
  .aside-alojamiento {
    /* margin: auto 0; */
    margin: 0 auto;
    height: 90vh;
    width: 90vw;
    font-size: small;
  }

  .card-alojamiento {
    font-size: small;
  }

  /* Actividades */

  .actividades-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "card-uno"
      "card-dos"
      "card-tres"
      "card-cuatro";
    column-gap: 0px;
    row-gap: 5px;
    width: 80vw;
  }

}
