// Alojamiento

.alojamiento {
  &__grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      " aside card-uno card-dos "
      " aside card-tres card-cuatro "
      " aside card-cinco card-seis ";
    gap: 2px;
    margin-top: 0em;
    & a {
      text-decoration: none;
      color: $black;
    }
    & a:hover img {
      filter: brightness(100%);
    }
  }

  &__card {
    @include alojamiento-grid-card;
    border-radius: 16px;
    transition: $transform;
    padding: 10px;

    &__card:hover {
      transform: translate(-10px);
    }
  }

  &__img-container {
    @include w-h(250px, 250px);
    display: flex;
    overflow: hidden;

    img {
      filter: brightness(70%);
    }
  }

  &__card__body {
    padding: 10px;
  }
}
// Grid area para las imagenes

.img-card-uno,
.img-card-dos,
.img-card-tres,
.img-card-cuatro,
.img-card-cinco,
.img-card-seis {
  grid-area: img;
}

.body-card-uno,
.body-card-dos,
.body-card-tres,
.body-card-cuatro,
.body-card-cinco,
.body-card-seis {
  grid-area: head;
}

.aside-alojamiento {
  @include w-h(30vw, 80vh);
  grid-area: aside;
  border-radius: 12px;
  padding: 10px;
  margin: 0.5em auto 0;
  background-image: url(../assets/aside-alojamiento.jpg);
  color: $black;
  position: relative;
  display: flex;
  justify-content: center;
}

.text-aside-container {
  position: absolute;
  top: 2em;
  width: 90%;
  height: 90%;
  border-radius: 6px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "head"
    "body";
  background-color: $grey;
  color: $black;
  padding: 20px;
}

.aside-alojamiento {
  h5 {
    text-align: center;
    grid-area: head;
    padding: 5px;
  }
  p {
    grid-area: body;
    padding: 5px;
    overflow: auto;
  }
}
