// Footer

.footer__container {
  @include flex-center;
  position: fixed;
  bottom: 0px;
  color: $white;
  width: 100%;
}

// Accordion

.accordion__container {
  width: 80vw;
  margin: 2em auto 0;
}

// Carousel

.carousel__container {
  width: 50svw;
  margin: 30px auto;
}

// Quote

.quote__container {
  width: 50svw;
  margin: 30px auto;
}

// Boton enviar

.btn-enviar {
  background-color: $grey;
  border: 1px solid #bc1e2c;
  color: #bc1e2c;

  &:hover {
    background-color: #bc1e2c;
    color: $white;
    border: 1px solid #bc1e2c;
  }
}
