// Destinos

.destinos {
  &__flex-container {
    @include w-h(800px, 800px);
    margin: 5px auto 0;
    display: flex;
    justify-content: center;
    padding: 5px;
    overflow: hidden;
    flex-flow: wrap;
  }

  &__img-container {
    position: relative;
    padding: 5px;
    width: 50%;
    transition: $transform;
  }

  &__img-uno:hover {
    transform: translate(-10px, -10px);
  }

  &__img-dos:hover {
    transform: translate(10px, -10px);
  }

  &__img-tres:hover {
    transform: translate(-10px, 10px);
  }

  &__img-cuatro:hover {
    transform: translate(10px, 10px);
  }

  &__img-container img {
    @include w-h(100%, 100%);
    object-fit: cover;
    filter: brightness(70%);
  }

  &__img-container img:hover {
    filter: brightness(90%);
  }

  &__img-container span {
    color: $white;
    position: absolute;
    bottom: 20%;
    left: 40%;
    z-index: 2;
    font-size: larger;
    pointer-events: none;
  }

  // Grid para el aside

  &__grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "aside gallery";
  }

  &__aside {
    @include flex-center;
    grid-area: aside;
    position: relative;
  }

  &__aside p {
    position: absolute;
    left: 50px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    color: $black;
  }

  &__gallery {
    grid-area: gallery;
    margin-left: 50px;
  }
}
