// Destinos

.destinos {
  &__flex-container {
    @include w-h(40vw, 80vh);
    @include grid(2, 2, 5px);
    margin: 5px auto 0;
    justify-content: center;
    padding: 5px;
    grid-template-areas:
      "img-uno img-dos"
      "img-tres img-cuatro";
    gap: 5px;
  }

  &__img-uno {
    grid-area: img-uno;
    &:hover {
      transform: translate(-10px, -10px);
      transition: $transform;
    }
  }

  &__img-dos {
    grid-area: img-dos;
    &:hover {
      transform: translate(10px, -10px);
      transition: $transform;
    }
  }

  &__img-tres {
    grid-area: img-tres;
    &:hover {
      transform: translate(-10px, 10px);
      transition: $transform;
    }
  }

  &__img-cuatro {
    grid-area: img-cuatro;
    &:hover {
      transform: translate(10px, 10px);
      transition: $transform;
    }
  }

  &__img-container {
    @include w-h(100%, 100%);
    position: relative;
    overflow: hidden;
    border-radius: 8px;

    img {
      @include w-h(100%, 100%);
      object-fit: cover;
      filter: brightness(70%);
      &:hover {
        filter: brightness(90%);
      }
    }
    span {
      color: $white;
      position: absolute;
      bottom: 5%;
      left: 40%;
      z-index: 2;
      font-size: larger;
      pointer-events: none;
      background-color: #65a46d82;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }

  // Grid para el aside

  &__grid-container {
    @include grid(2, 1, 0px);
    grid-template-areas: "gallery aside";
    max-width: 100vw;
  }

  &__aside {
    @include flex-center;
    grid-area: aside;
    position: relative;
    max-width: 100%;

    p {
      position: absolute;
      left: 50px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
      color: $black;
    }
  }

  &__gallery {
    grid-area: gallery;
    margin-left: 50px;
  }
}
