// Index

.carousel-item {
  img {
    filter: brightness(70%);
  }
}

.index {
  &__icons__grid__container {
    @include grid(3, 1, 1px);
    border: 1px solid red;
    justify-content: center;
    &__item {
      @include flex-center;
      border: 1px solid lightgreen;
      background-color: #65a46d;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      margin: 0 auto;
      i {
        font-size: 48px;
      }
    }
  }

  &__desc__grid__container {
    @include grid(3, 1, 1px);
    border: 1px solid red;
    height: auto;
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid lightgreen;
      padding: 0.5em;
      text-align: center;
    }
  }
}
