@mixin w-h($w, $h) {
  width: $w;
  height: $h;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid($columns, $rows, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($rows, 1fr);
  grid-gap: $gap;
}

@mixin alojamiento-grid-card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "img head";
}
