// Reserva

.reserva {
  &__form-container {
    width: 80%;
    padding: 20px;
  }
  &__btn-enviar {
    background-color: $grey;
    border: 1px solid #bc1e2c;
    color: #bc1e2c;

    &:hover {
      background-color: #bc1e2c;
      color: $white;
      border: 1px solid #bc1e2c;
    }
  }

  &__page-container {
    @include flex-center;
    height: 100vh;
    width: 100%;
    background-image: url(../assets/booking-fondo.jpg);
    background-size: cover;
    background-position: center;
  }

  &__form-card {
    @include flex-center;
    @include w-h(50vw, 90vh);
    background-color: $grey;
    border-radius: 24px;
  }
}
