* {
  font-family: "Poppins", sans-serif;
}

/* Accordion */

.accordion-container {
  width: 70vw;
  margin: 30px auto 0;
}

/* Carrousel */

.carrousel-container {
  width: 50svw;
  margin: 30px auto 0;
}

.quote-container {
  width: 50svw;
  margin: 30px auto 0;
}

.footer-container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.carousel-item img {
  filter: brightness(70%);
}

.footer-container {
  color: #f7f7f7;
}
