* {
  font-family: "Poppins", sans-serif;
  /* overflow-y: hidden; */
}

/* Accordion */

.accordion-container {
  width: 40vw;
  margin: 100px auto 0;
}

/* Carrousel */

.carrousel-container {
  width: 50svw;
  margin: 30px auto 0;
}

.quote-container {
  width: 50svw;
  margin: 30px auto 0;
}

.footer-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  color: #f7f7f7;
  width: 100%;
}

.carousel-item img {
  filter: brightness(70%);
}

/* Flex container destinos */
.flex-container-destinos {
  margin: 5px auto 0;
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 800px;
  height: 800px;
  overflow: hidden;
  flex-flow: wrap;
}

.img-container-destinos {
  position: relative;
  padding: 5px;
  width: 50%;
  transition: transform 0.3s ease;
}

.img-destino-uno:hover {
  transform: translate(-10px, -10px);
}

.img-destino-dos:hover {
  transform: translate(10px, -10px);
}

.img-destino-tres:hover {
  transform: translate(-10px, 10px);
}

.img-destino-cuatro:hover {
  transform: translate(10px, 10px);
}

.img-container-destinos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.img-container-destinos img:hover {
  filter: brightness(90%);
}

.img-container-destinos span {
  color: #f7f7f7;
  position: absolute;
  bottom: 20%;
  left: 40%;
  z-index: 2;
  font-size: larger;
  pointer-events: none;
}

/* Grid para el aside */

.grid-container-destinos {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "aside gallery";
}

.aside {
  grid-area: aside;
  display: flex;
  text-align: justify;
  align-items: center;
  position: relative;
}

.aside p {
  position: absolute;
  left: 50px;
}

.gallery {
  grid-area: gallery;
  margin-left: 50px;
}

.form-container {
  width: 80%;
  padding: 20px;
}

/* Form */

.foto-reserva-grid img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  height: 100vh;
}

.faq-page-container {
  height: 100vh;
  width: 100%;
  background-image: url(./assets/booking-fondo.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  background-color: #f7f7f7ab;
  border-radius: 24px;
  width: 500px;
  height: 600px;
  margin: 90px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* faq */

.faq-questions {
  width: 40vw;
  margin: 20px auto 0;
}

.btn-faq {
  margin: 0 auto;
}

.btn-faq-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Alojamiento */

.card-alojamiento {
  border-radius: 16px;
  transition: transform 0.3s ease;
  padding: 10px;
}

.card-alojamiento:hover {
  transform: translate(-10px);
}

.img-alojamiento-container {
  width: 250px;
  height: 250px;
  display: flex;
  overflow: hidden;
}

.img-alojamiento-container img {
  filter: brightness(70%);
}

.card-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    " aside card-uno card-dos "
    " aside card-tres card-cuatro "
    " aside card-cinco card-seis ";
  gap: 7px;
  margin-top: 20px;
}
.card-grid-container a {
  text-decoration: none;
  color: #212529;
}

.card-grid-container a:hover img {
  filter: brightness(100%);
}

.card-uno {
  grid-area: card-uno;
}

.card-dos {
  grid-area: card-dos;
}

.card-tres {
  grid-area: card-tres;
}

.card-cuatro {
  grid-area: card-cuatro;
}
.aside-alojamiento {
  grid-area: aside;
  border-radius: 12px;
  padding: 10px;
  margin: auto 0;
  height: 90vh;
  width: 30vw;
  background-image: url(./assets/aside-alojamiento.jpg);
  color: #212529;
}

.text-aside-container {
  border-radius: 6px;
  margin-top: 40%;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "head"
    "body";
  background-color: #f7f7f7ab;
  color: #212529;
}

.aside-alojamiento h5 {
  text-align: center;
  grid-area: head;
  padding: 5px;
  /* margin-top: 20%; */
}

.aside-alojamiento p {
  grid-area: body;
  padding: 5px;
}

/* Card uno*/
.card-title-grid-uno {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "img head";
}

.img-card-uno {
  grid-area: img;
}

.header-card-uno {
  grid-area: head;
}
/* Card dos*/

.card-title-grid-dos {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "img head";
}

.img-card-dos {
  grid-area: img;
}

.header-card-dos {
  grid-area: head;
}

/* Card tres*/

.card-title-grid-tres {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "img head";
}

.img-card-tres {
  grid-area: img;
}

.header-card-tres {
  grid-area: head;
}

/* Card cuatro*/

.card-title-grid-cuatro {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "img head";
}

.img-card-cuatro {
  grid-area: img;
}

.header-card-cuatro {
  grid-area: head;
}

/* Card cinco*/

.card-title-grid-cinco {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "img head";
}

.img-card-cinco {
  grid-area: img;
}

.header-card-cinco {
  grid-area: head;
}

/* Card seis */

.card-title-grid-seis {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "img head";
}

.img-card-seis {
  grid-area: img;
}

.header-card-seis {
  grid-area: head;
}

.card-text {
  padding: 10px;
}
