


/* Accordion */

.accordion-container {
  width: 70vw;
  margin: 0 auto;
}

/* Carrousel */

.carrousel-container {
  width: 50svw;
  margin: 30px auto 0;
}

.quote-container {
  width: 50svw;
  margin: 30px auto 0;
}

.footer-container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.carousel-item img{
    filter: brightness(70%);
}